
<%= stylesheet_link_tag "movies/common" , :media => "all" %>

<header>
  <div class = header_inside>
    <h3 class = "header_title">動画コーナー</h3>
    <%= link_to "アカウント" , users_path , id: "account_link" %>
  </div>
</header>