<header>
  <div class = header_inside>
    <%= link_to title , root_path , class: "header_title" %>
    <%= render partial: "shared/header/show_account" , locals: {user: current_user} %>
  </div>
</header>