
<%= stylesheet_link_tag "stickman_war_common/stickman_war_header" , :media => "all" %>

<header>
  <div class = header_inside>
    <h3 class = "header_title">棒バトチャレンジ</h3>
    <%= link_to "アカウント" , users_path , id: "account_link" %>
  </div>
</header>