<%# このテンプレートはtop > show.scssのスタイルシートを使用している %>
<%# 説明の高さや下線の部分についてはtop > explain.scssを使用している %>
<p class = "small_small_section_title">どんなもの？</p>
<div class = "individual_explain">
  　それぞれのユーザー同士がリクエストを送ることができる機能になります。このページを作成したのがスキルルームでの経験を積んだ後だったので面白い動きが少し多めについています。
  <%= image_tag "top/show/all_user_request_explain_top1.gif" , class: "explain_image" %>
  ちなみにこのグラデーションの多いラインはスキルルームで経験を積んだからではなく、面白半分で::beforeとか::afterで表される、なんかよく見た目がいい感じのサイトでよく見る仕組みを使ってみようという、非常に軽い気持ちで始めたものだったんですね。これが使えるか使えないかでなんだかランクの上下がある気がする。
  <%= image_tag "top/show/all_user_request_explain_top2.png" , class: "explain_image" %>
  
</div>

<p class = "small_small_section_title">使用方法</p>
<div class = "individual_explain">
  <span class = "strong yellow_under_line" style = "display:inline-block;">グループを作成しよう</span><br>
  　下の方にある「ルームを作成する」を押して、グループ名と説明書きを記入し、招待するユーザーを選択して「作成する」を選択すると、招待したユーザーと自分のグループを作成することができます。
  <%= image_tag "top/show/group_explain1.png" , class: "explain_image" %>
</div>

<p class = "small_small_section_title">今後の開発予定</p>
<div class = "individual_explain">
  ルームを作成するとき、自分がフォローしているユーザーが優先的に上の方に表示されるようにしたい。<br>
  今のところフォローするメリットが一切ない案件。
</div>