<%# このテンプレートはtop > show.scssのスタイルシートを使用している %>
<%# 説明の高さや河川の部分についてはtop > explain.scssを使用している %>
<p class = "small_small_section_title">どんなもの？</p>
長い説明書きを後から加える、画像とかもあるといい（説明書きの都合上部分テンプレートに分割できない）
<%= image_tag "stickman_war_stage/default.png" , class: "explain_image" %>