<p class = "section_title">ステージ１−８</p>
<div class = "only_border"></div>
<p class = "explain_title">ステージ進行</p>
<div class = "text_box">
  色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する
</div>
<p class = "explain_title">ボスキャラクター</p>
<div class = "text_box">
  色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する
</div>
