<h3 class = "section_title">ステージ１−８</h3>
<div class = "only_border"></div>
<h3 class = "explain_title">ステージ進行</h3>
<div class = "text_box">
  色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する色々と記載する
</div>
<h3 class = "explain_title">ボスキャラクター</h3>