<p class = "section_title">コジク道</p>
<div class = "only_border"></div>


<p class = "explain_title small_margin explain_section_title">ステージ進行</p>
<p class = "explain_title">序盤</p>
<div class = "text_box explain_detail">
  初め、小盾や小弓が数対現れる。城をいくらか削られることになるが、城は割と硬い。それほど心配せずにいよう。<br>
  この間、マナレベルを上げたりこちらの小弓をためたりしやすい。敵城を殴る前に溜めておこう。
</div>
<p class = "explain_title">中盤</p>
<div class = "text_box explain_detail">
  城を100近く削ると、異様に硬い小盾２体が現れる。攻撃力はそれほど高くない。倒すと合計600近くのマナを得ることができる。
  マナレベルが最大まで上がっていない場合、キャラクターの召喚に支障がない程度にマナレベルを上げよう。
</div>
<p class = "explain_title">ボスキャラクター：大弓</p>
<div class = "text_box explain_detail">
  城体力が200近くになると、大盾と大弓の、前衛後衛の理想のような形の布陣が組まれる。大盾は攻撃範囲にいるキャラクター全てを攻撃するくせに割と攻撃力が高く、
  大弓はキャラクターを2人貫通する矢を放つ。
</div>


  <p class = "explain_title explain_section_title">攻略</p>
<p class = "open_strategy_button common_simple_button" >攻略情報を開く<br>（ネタバレの可能性があります）</p>
<div id = "strategy_parent" class = "hidden">
  <p class = "explain_title">序盤</p>
  <div class = "text_box explain_detail">
    城寸前まで敵が迫ってきたとしても、割と城は硬い。城を攻撃されないように小盾を何体も召喚し、何体も倒されるという必要はない。
    また、城体力が半分になるまでそれほど焦らないくても大丈夫。城を堂々と殴らせ、その間にマナレベルを最大まで上げておいても問題ない。
    攻撃体制が整ったら少しずつ小弓を召喚していき、前線が上がり始めたら一気に小盾や素手の召喚を始めよう。
  </div>
  <p class = "explain_title">中盤</p>
  <div class = "text_box explain_detail">
    だんだんマナが少なくなってきて「これ召喚ペースを整えないとまずいやつかな」と思い始めるが、突然現れる凄まじいほどに硬い小盾を倒すと過剰なほどにマナを得ることができる。ボスに備えて召喚を続けよう。
  </div>
  <p class = "explain_title">ボスキャラクター：大弓</p>
  <div class = "text_box explain_detail">
    <p class = "explain_point">小盾を切らすな！</p>
    大弓の攻撃により、素手や小弓は100％と言っても過言ではないほどにノックバックするレベルのダメージを受ける。
    また、大盾の攻撃で前線にいる素手は大量にいたとしても一気に下がっていき、小弓が敵の目の前に晒される。
    しかし小盾の耐久力があれば、前線を少しの間維持したり、ちょうどガードが発動すれば大弓の貫通を阻止したりすることができる。
    小弓がやられるとこちらの火力は大きく下がる。大盾のノックバックする距離は短く、攻撃を与え続けたとしても前線を押し返すことは難しい。
    こちらの小弓がやられる前に、敵の大盾を倒すことができるか。これがこの戦いの勝敗を分けるだろう。
  </div>
</div>

<p class = "explain_title explain_section_title">ちょっとした裏話</p>

<p class = "explain_title">一言コメント<br>あれ？こんなに簡単だったっけ？</p>
<div class = "text_box explain_detail">
  この攻略を作るためにステージをテストプレイしてみたところ、想像以上に前線が下がらなかった。
  このステージを作った時には、敵の前線が城の目前まで迫って、撃滅槍を使っても敵の小弓部隊が全然倒れず、そのまま押し切られて負ける、という形だった。
  だからこのステージのキモは「小弓部隊を一撃で倒せるほどこちらの撃滅槍のレベルが上がっているかどうか」というところだった。
  しかしながらやってみたらこちらの小弓部隊が想像以上に固く、大盾の攻撃を耐え、大弓の攻撃を耐え、前線から小盾がいなくなったとしても大丈夫レベルになっていた。
  あれ。おかしいな。
  「だったらキャラクターのステータスをいじればいいんじゃないか」ともなるんですけども、そうすると他のステージに影響するんですよ。
  もしかしたらいつの間にかステージの難易度がすごいほどに上がってるかも。
</div>