._explain_table_single{
  margin:auto;
  width:80%;
  max-width:500px;
}

._explain_table_image{
  width:100px;
  height:100px;
  background: rgb(255, 174, 174);;
  border-radius: 10px;
  margin:auto;
  background-size: cover;
  background-position: center;
}

._explain_table_name{
  line-height:50px;
}

._explain_table_material_type{
  line-height: 50px;
}

td{
  text-align: center;
}