._top_link_links{
  width: 49%;
  padding: 10px;
  border:1px solid black;
  display:flex;
  justify-content: center;
  margin: 25px auto 0px;
  background-color: rgb(252, 255, 240);
  border-radius: 10px;
  position:relative;
  transition:0.5s;
  top:0px;
  box-shadow: none;;
}

._top_link_links:hover{
  top:-5px;
  transition:80ms;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.315);
}

._top_link_a{
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  color:black;
  cursor: default;
  flex: auto;
}

._top_link_image{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: rgb(255, 174, 174);
  border:1px solid rgb(180, 180, 180);
  background-size: cover;
  background-position: center;
}

._top_link_explain{
  width:calc(100% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px 0;
}

._top_link_title_text{
  text-align: center;
  font-size:24px;
  margin-bottom: 3px;
}

._top_link_explain_text{
  padding:0 10px;
  text-align: center;
  max-width:580px;
}

._top_link_link_text{
  margin-top: 10px;
}



// 800pxより大きい時
  ._top_link_more_than_800px{
    display:inherit;
  }

  ._top_link_less_than_800px{
    display:none;
  }


// 800pxより小さいとき
@media (max-width:800px){
  ._top_link_more_than_800px{
    display:none;
  }

  ._top_link_less_than_800px{
    display:inherit;
  }

  ._top_link_a{
    flex-direction: column;
  }

  ._top_link_title_text{
    margin:auto;
    font-size:20px;
  }

  ._top_link_image{
    width:auto;
    height:100px;
  }

  ._top_link_image_and_title {
    margin: auto;
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  ._top_link_explain_text{
    padding:0px;
    text-align: center;
    font-size:15px;
  }

  ._top_link_explain{
    width:90%;
    padding:5px 0px;
  }
}

@media(max-width:400px){
  ._top_link_image{
    width:60%;
    height:auto;
  }
}