
      <div class = "explain_single_box">
        <p class = "small_section_title" style = "margin-top:10px;"><%= image_tag "stickman_war.png" , class: "title_image" %>棒バトチャレンジ</p>
        <div class = "explain_text">
          長い説明書きを後から加える、画像とかもあるといい（説明書きの都合上部分テンプレートに分割できない）
          <%= image_tag "stickman_war_stage/default.png" , class: "explain_image" %>
          最後にそのページへのリンクを作成する
          <%= render partial: "shared/link" , locals:{number: 1, image: "stickman_war.png" , link: stickman_war_index_path , title: "棒バトチャレンジ" , explain: @stickman_war_explain} %>
        </div>
      </div>