.small_section_title{
  font-size:25px;
  padding-left:15px;
  margin-bottom:5px;
  margin-top:50px;
  position:relative;
}

.small_small_section_title::before {
  height: 30px;
  width: 5px;
  content: '';
  display: inline-block;
  background: linear-gradient(#ffb300 70%, #ff0000 30%);
  margin:0px 15px 0px 10px;
}

.small_small_section_title{
  font-size:20px;
  border-bottom:1px dotted rgba(189, 189, 189, 0.575);
  padding-left:5px;
  margin:30px 0px 10px;
  display:flex;
}

.small_margin{
  margin-top:10px;
}

.paragraph{
  display: inline-block;
  margin-top:20px;
}

.individual_explain{
  width:100%;
  line-height:40px;
}

.strong {
  font-weight: bold;
  font-size: 20px;
}

.yellow_under_line{
  background: linear-gradient(transparent 80%, yellow 30%);
}

.color_red{
  color:#780000;
}

.big_margin_top{
  margin-top:80px;
}

.explain_list_parent{
  list-style: auto;
  padding-left: 30px;
}

.explain_list{
  margin: 30px 10px 10px;
}

.request_delete_button , .request_finished_button , .request_untreated_button , .request_received_button{
  line-height: 30px;
  padding:3px 8px;
  background:linear-gradient(to right bottom ,blue , blue);
  border-radius: 8px;
}

.request_delete_button{
  background: linear-gradient(to right bottom, #ff8d00, #cd5e05);
}

.request_finished_button{
  background: linear-gradient(to right bottom, #00ad05, #287c01);
}

.request_untreated_button{
  background: linear-gradient(to right bottom, #303030, #000000);
}

.request_received_button{
  background: linear-gradient(to right bottom, #ab0000, #6e0000);
}