header{
  background:linear-gradient(to right bottom , rgb(25, 0, 255) , rgb(0, 153, 255));
}

.common_simple_button{
  background: linear-gradient(to right bottom, #0000db, #000074);
  box-shadow: 0 3px 0 0 #00006e;
  top:0px;
  position:relative;
  transition:0.2s;
}

.common_simple_button:active{
  top:3px;
  box-shadow: none;
  transition:0.2s;
}