.section_title{
  width:100%;
  padding:0px;
  padding-top:80px;
}

.small_section_title{
  width:100%;
  padding-left:15px;
  margin-top: 10px;
  height: 50px;
}

.center_box{
  width:90%;
  margin:0 auto;
}

.information_parent{
  border:1px solid black;
  width:500px;
  margin:20px auto;
  padding:10px 20px;
}

.information_link{
  padding:5px 0px;
  cursor:pointer;
  transition:1s;
  height:40px;
  display:flex;
  align-items: center;
  margin:5px 0px;
  border-radius: 10px;
}

.information_link:hover{
  transition:0.05s;
  background-color:#ffff44;
}

.information_link_image_parent {
  width: 75px;
  height: 40px;
  display: flex;
  margin-right:10px;
  background-color:rgba(191, 191, 255, 0.336);
  border-radius: 10px;
  padding:4px;
}

.information_link_image{
  height:100%;
  margin:auto;
}

.title_image{
  height:100%;
  padding-right:10px;
}

.explain_text{
  padding-left:20px;
}

.explain_image {
  margin: 20px auto;
  width: 80%;
  display: block;
  border-radius: 10px;
  border: 1px solid #00000059;
  padding: 5px;
  background-color: #ffffa4;
}

._link_links{
  width:100%;
}