.section_title{
  width:100%;
  padding:0px;
  padding-top:80px;
}

.small_section_title{
  width:100%;
  padding-left:15px;
  margin-top: 10px;
  height: 50px;
}

.center_box{
  width:90%;
  margin:0 auto;
}

.title_image{
  height:100%;
  padding-right:10px;
}

.explain_text{
  padding-left:20px;
}

.explain_image{
  margin:20px 0;
  width:80%;
  display:block;
}

._link_links{
  width:100%;
}