<%= render partial: "shared/header/stickman_war_header" %>

<div class = "main_content_parent">
  <div class = "main_content">
    <h3 class = "section_title">ベーシックステージ</h3>
    <div class = "only_border"></div>
    <%= render partial: "shared/link" , locals: {image: nil , title: "ステージ1-8" , link: stickman_war_stickman_war_detail_path("basic" , "1-8") , explain: ""} %>
    <%# この時点でbasic 3- まで作成できる %>
  </div>
</div>




<%= stylesheet_link_tag "stickman_war/index" , :media => "all" %>