<%= render partial: "shared/header/stickman_war_header" %>

<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "section_title">ボーナスステージ、作成中！</p>
    <div class = "only_border"></div>
    <div class = "bredcrumbs_parent">
      <% breadcrumb :stickman_war_stage , "bonus" %>
      <%= breadcrumbs separator: "&rsaquo; " %>
    </div>
    
  </div>
</div>




<%= stylesheet_link_tag "stickman_war/show" , :media => "all" %>