<%= render partial: "shared/header/stickman_war_header" %>

<div class = "main_content_parent">
  <div class = "main_content">
    <h3 class = "section_title">ボーナスステージ、作成中！</h3>
    <div class = "only_border"></div>
    
  </div>
</div>




<%= stylesheet_link_tag "stickman_war/show" , :media => "all" %>