<%= render partial: "shared/header/stickman_war_header" %>

<div class = "main_content_parent">
  <div class = "main_content">
  
  </div>
</div>

<h3>チャレンジステージ</h3>

<%= render partial: "shared/link" , locals: {image: nil , title: "開発中！" , link: nil} %>


<%= stylesheet_link_tag "stickman_war/index" , :media => "all" %>