.character_detail_avility_show_table{
  width:50%;
  margin:auto;
}

.this_character_able{
  text-align: center;
}

.avility_title{
  margin:auto;
  width:150px;
}

.avility_icon{
  margin-right:5px;
  height:15px;
  color:black;
}