.small_section_title{
  font-size:25px;
  padding-left:15px;
  margin-bottom:5px;
  margin-top:50px;
}

.small_margin{
  margin-top:10px;
}

.paragraph{
  display: inline-block;
  margin-top:20px;
}

.individual_explain{
  width:90%;
  margin:auto;
  line-height:40px;
}

.strong {
  font-weight: bold;
  font-size: 20px;
}

.yellow_under_line{
  background: linear-gradient(transparent 80%, yellow 30%);
}