._character_link_links{
  width: 45%;
  display:flex;
  justify-content: center;
  margin: 10px auto 0;
  min-height: 150px;
  border: 1px solid rgb(230, 230, 230);
  padding: 5px;
}

._character_link_a{
  width:100%;
  display:flex;
  text-decoration:none;
  color:black;
}

._character_link_image_box{
  width:50%;
  display:flex;
}

._character_link_image{
  width: 100%;
  margin:auto;
}


.character_icon_sword{
  background-image: image-url("stickman_war_character/common/sword.png");
}

.character_icon_allow{
  background-image: image-url("stickman_war_character/common/allow.png");
}

.character_icon_shield{
  background-image: image-url("stickman_war_character/common/shield.png");
}

._character_link_explain{
  width:50%;
  margin: auto;
  font-size:14px;
  text-align: center;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.95);
  /* opacity: 0.1; */
  background-blend-mode: lighten;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



._character_link_explain_text{
  padding:0 30px;
}

._character_link_link_text{
  margin-top: 10px;
}

._character_link_default_image{
  background-image: image_url("stickman_war_character/default.png");
}

._character_link_character_name{
  font-size: 25px;
  margin-bottom:0px;
}

._character_link_character_work{
  font-size: 22px;
  margin-top:0px;
}

@media (max-width: 800px){
  ._character_link_explain{
    width:80%;
    margin: auto;
    font-size:14px;
    text-align: center;
  }

  ._character_link_a{
    flex-direction: column;;
  }

  ._character_link_image_box {
    width: 380px;
    height: 200px;
    margin: auto;
  }

  ._character_link_character_name{
    font-size:20px;
  }
}

@media(max-width:500px){
  ._character_link_explain{
    width:80%;
    margin: auto;
    font-size:14px;
    text-align: center;
  }

  ._character_link_a{
    flex-direction: column;;
  }

  ._character_link_image_box {
    width: 100%;
    height: 150px;
    margin: auto;
  }
}