<%= render partial: "shared/header/movie_header" %>
<h4>おすすめ動画</h4>
<%= render partial: "shared/movies/reccomend_movie_link" , locals: {movies: @reccomend_movies} %>
<h4>投稿動画一覧</h4>
<%= render partial: "shared/movies/movie_link" , locals: {movies: @movies} %>