.request_center_object{
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding:90px;
  height:auto;
}

.text{
  margin: 0px auto 20px;
  font-size: 30px;
}

.quit_button{
  text-decoration: none;
  padding: 5px 20px;
  color:white;
  background-color: rgb(38, 96, 255);
  border-radius: 10px;
  display:inline-block;
  margin: 0px auto;
  top: 0px;
  box-shadow: 0px 5px 0px blue;
}


.quit_button:active{
  position:relative;
  top: 5px;
  box-shadow:none;
  transition: 0.2s;
}

@media (max-width:600px){
  .text{
    font-size:5.5vw;
  }

  .request_center_object{
    padding:10px;
  }
}

@media(max-width:400px){
  .request_center_object{
    padding:4px;
  }

  .text{
    font-size:8vw;
  }
}