<p class = "small_section_title">取得した要素の最初や最後を取得</p>
<div class = "jquery_practice_detail">
  <div id = "jquery_practice1" class="display_flex">
    <p class = "jquery_practice_class1">要素１</p>
    <p class = "jquery_practice_class1">要素２</p>
    <p class = "jquery_practice_class1">要素３</p>
  </div>
  <div id = "jquery_practice1" class="display_flex">
    <p class = "jquery_practice_class1">要素４</p>
    <p class = "jquery_practice_class1">要素５</p>
    <p class = "jquery_practice_class1">要素６</p>
  </div>
  <span class="message1"></span>
  <span class="message2"></span>
</div>

<p class = "small_section_title">:nth-childを使用し、特定の位置の要素を取得</p>
<div class = "jquery_practice_detail">
  <div class = "display_flex" style = "flex-wrap:wrap">
    <p class = "jquery_practice_class2">要素1</p>
    <p class = "jquery_practice_class2">要素2</p>
    <p class = "jquery_practice_class2">要素3</p>
    <p class = "jquery_practice_class2">要素4</p>
    <p class = "jquery_practice_class2">要素5</p>
    <p class = "jquery_practice_class2">要素6</p>
    <p class = "jquery_practice_class2">要素7</p>
    <p class = "jquery_practice_class2">要素8</p>
    <p class = "jquery_practice_class2">要素9</p>
    <p class = "jquery_practice_class2">要素10</p>
    <p class = "jquery_practice_class2">要素11</p>
    <p class = "jquery_practice_class2">要素12</p>
    <p class = "jquery_practice_class2">要素13</p>
    <p class = "jquery_practice_class2">要素14</p>
    <p class = "jquery_practice_class2">要素15</p>
    <p class = "jquery_practice_class2">要素16</p>
  </div>
</div>

