<p class = "small_section_title small_margin_top">特定の文字列や要素を含むものを取得</p>
<div class = "jquery_practice_detail">
  <div class = "display_flex" style = "flex-wrap:wrap;" id = "contain_has_test_parent">
    <p class = "contain_has_test">東北きりたん</p>
    <p class = "contain_has_test"><span>結月ゆかり</span></p>
    <p class = "contain_has_test">東北ずん子</p>
    <p class = "contain_has_test"><span>弦巻まき</span></p>
    <p class = "contain_has_test"><span>京町せいか</span></p>
    <p class = "contain_has_test">琴葉あかね</p>
    <p class = "contain_has_test"><span>琴葉あおい</span></p>
    <p class = "contain_has_test">東北いたこ</p>
  </div>
  <span class = "contain_has_parent_explain1"></span>
  <span class = "contain_has_parent_explain2"></span>
</div>