<p class = "small_section_title small_margin_top">html,textメソッドのテスト</p>
<div class = "jquery_practice_detail">
  <div>
    <p class = "html_text_test"></p>
    <p class = "html_text_test"></p>
  </div>
</div>

<p class = "small_section_title">val()メソッドのテスト</p>
<div class = "jquery_practice_detail">
  <div>
    <input type = "input" id = "val_test_input" placeholder="ここにテキストを入れてから、ボタンを押してください">
    <input type="button" value = "このボタンを押す" id = "val_test_input_button">
    <select id="val_test_select">
      <option value="kiritan">東北きりたん</option>
      <option value="itako">東北イタコ</option>
      <option value="zunko">東北ずん子</option>
    </select>
  </div>
</div>

<p class = "small_section_title">val()メソッドで遊んでみる</p>
<div class = "jquery_practice_detail">
  <div>
    あなたの名前<br>
    <input type="text" value = "">
    <p id = "show_name"></p>
    <div class = "small_margin_top">
      あなたの性別
      <div>
        <label><input type="radio" value = "man" name = "gender" class = "gender_button">男性</label>
        <label><input type="radio" value = "woman" name = "gender" class = "gender_button" disabled>女性</label>
        <label><input type="radio" value = "woman" name = "gender" class = "gender_button">無性</label>
      </div>
    </div>
    <p id = "show_gender"></p>

    <input type="checkbox" disabled class = "small_margin_top">何の見覚えもない同意<br>
    <p id = "show_confirm"></p>
    <input type="button" value = "押してみよう！" id = "yabai_button">
    <p id = "notice"></p>
  </div>
</div>