footer{
  width: 100vw;
  background-color: rgb(9, 0, 94);
  border-top: 5px solid rgb(236, 237, 255);
  color:white;
  padding: 10px;
  margin-top: 0px;
  margin: 0px;
}

._footer_section_title{
  border-bottom:1px solid white;
  display:flex;
  align-items: flex-end;
  height:30px;
  font-size:20px;
  margin-bottom: 10px;
}

._footer_title{
  font-size: 30px;
  margin: auto;
  margin-bottom:0px;
  padding-bottom: 0px;
}

._footer_title_a{
  color:white;
  text-decoration: none;
}

._footer_body{
  height: 100%;
  margin:auto;
  display:flex;
  justify-content:space-between;
}

._footer_title , ._footer_body{
  width:80%;
}

._footer_creation{
  width: 32%;
}

._footer_function_detail{
  display: block;
  text-decoration: none;
  color:white;
  padding:5px 0px 5px 5px;
}

._footer_support{
  margin-left: 10px;
}

._footer_creation , ._footer_function , ._footer_support{
  min-height:200px;
}


@media (max-width: 800px){
  ._footer_title , ._footer_body{
    width:95%;
  }
}

@media(max-width:750px){
  footer{
    height:auto;
  }

  ._footer_body{
    flex-direction: column;
    justify-content: center;
  }

  ._simple_link_a:hover , ._footer_function_detail:hover{
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 5px;
    transition:0.1s;
  }

  ._simple_link_image{
    width:auto;
    height:50px;
  }

  ._simple_link_explain{
    margin-left:10px;
  }

  ._footer_creation , ._footer_function , ._footer_support{
    margin:auto;
    margin-bottom:20px;
    width:100%;
  }

  ._footer_section_title{
    border-bottom-style: dotted;
  }
}