._show_account_account_link{
  color: white;
  text-decoration: none;
  display:flex;
  border-radius: 5px;
  transition:0.3s;
}

._show_account_account_link:hover{
  background-color:rgba(255, 255, 255, 0.438);
  transition:0.2s;
}

#header_user_icon{
  width:40px;
  border-radius: 5px;
  margin-right:5px;
}

._show_account_only_account{
  display: none;
}

@media (max-width: 600px){
  ._show_account_only_account{
    display: inherit;
    font-size:3vw;
  }

  ._show_account_nickname{
    display:none;
  }
}