
.main_content{
  width:80%;
  margin:0px;
}

.right_bar_parent{
  width:18%;
  background-color:yellow;
}

.right_bar{
  --right_bar_height:50vh;
  height:var(--right_bar_height);
  background-color:blue;
}

.main_content_parent{
  display:flex;
  width:100%;
  justify-content: space-around;
}