._stage_link_links{
  width: 90%;
  display:flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
  min-height: 150px;
  border: 1px solid rgb(230, 230, 230);
  padding: 5px;
}

._stage_link_a{
  width:100%;
  display:flex;
  text-decoration:none;
  color:black;
}

._stage_link_image_box{
  width: 300px;
}

._stage_link_explain{
  width:calc(100% - 300px);
  margin: auto;
  font-size:14px;
  text-align: center;
}

._stage_link_explain_text{
  padding:0 30px;
}

._stage_link_link_text{
  margin-top: 10px;
}

._stage_link_default_image{
  background-image: image_url("stickman_war_stage/default.png");
}

._stage_link_stage_number{
  font-size: 25px;
}

._stage_link_stage_name{
  font-size: 22px;
}

@media (max-width: 800px){
  ._stage_link_explain{
    width:80%;
    margin: auto;
    font-size:14px;
    text-align: center;
  }

  ._stage_link_a{
    flex-direction: column;;
  }

  ._stage_link_image_box {
    width: 380px;
    height: 200px;
    margin: auto;
  }

  ._stage_link_stage_number{
    font-size:20px;
  }
}

@media(max-width:500px){
  ._stage_link_explain{
    width:80%;
    margin: auto;
    font-size:14px;
    text-align: center;
  }

  ._stage_link_a{
    flex-direction: column;;
  }

  ._stage_link_image_box {
    width: 100%;
    height: 150px;
    margin: auto;
  }
}