<% if group == nil %>
  <h3>現在見ているページ名</h3>
<% end %>

<% if group == nil %>
  <h3>届いたメッセージ一覧</h3>
<% end %>

<% if is_show == true %>
  <%= form_with url: "/groups/#{group.id}/messages" , model: message , method: :post , local: true  do |f| %>
    <%= f.text_area :text %>
    <%= f.file_field :image %>
    <%= f.submit "送信" %>
  <% end %>
<% end %>