<%= stylesheet_link_tag "groups/common" , :media => "all" %>

<div class = "parent">
  <%= render partial: "groups/side_bar" , locals: {user: @user} %>
  <%= render partial: "groups/main_bar" , locals: {is_show: @is_show , group: nil , message: @message , is_edit: @is_edit , authority: @authority} %>
</div>