// a{
//   color:black;
//   text-decoration: none;
// }

.breadcrumbs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  width: 90%;
  margin: 0px auto 20px;
  padding-top:80px;
  // font-size: 30px;
}

.current{
  font-size:30px;
  display:block;
  padding-left:10px;
}


.language_explain_parent{
  display:flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.jquery_practice_parent{
  width:90%;
  margin:0 auto;
}

.jquery_link{
    color:black;
    text-decoration: none;
}

.jquery_practice_single{
  padding:10px;
  background-color:rgba(255, 247, 132, 0.192);
  margin-top:20px;
  border-radius: 5px;
  border:1px solid rgb(202, 202, 202);
}

.jquery_practice_single:hover{
  background-color:rgb(255, 247, 132);
}

.jquery_practice_title{
  font-size:20px;
}

.jquery_practice_explain{
  padding-left:10px;
  line-height: 25px;
}

@media(max-width:450px){
  .small_section_title{
    font-size:20px;
  }
}

@media(max-width:400px){
  .small_section_title{
    font-size:17.5px;
  }
}