<%= stylesheet_link_tag "shared/picture_and_explain" , :media => "all" %>

<div class = "_picture_explain_parent">
  <div class = "_picture_explain_image_box"></div>
  <div class = "_picture_explain_explain" style="">
    <h3 class = "_picture_explain_explain_title"><%= title %></h3>
    <h3 class = "_picture_explain_explain_detail"><%= explain %></h3>
  </div>
</div>