<%= stylesheet_link_tag "shared/picture_and_explain" , :media => "all" %>

<div class = "_picture_explain_parent">
  <div class = "_picture_explain_image_box"></div>
  <div class = "_picture_explain_explain" style="">
    <p class = "_picture_explain_explain_title"><%= title %></p>
    <p class = "_picture_explain_explain_detail"><%= explain %></p>
  </div>
</div>