<%= stylesheet_link_tag "shared/prease_login" , :media => "all" %>

<div class = "background">
  <div class = "center_object">
    <p class ="title">ログインしていないと使用できません</p>
    <%= link_to "アカウントページへ" , users_path , class: "button" %>
  </div>
</div>