<%# common.scssから調整されている %>
<%= link_to new_user_all_user_request_path(user) , class: "single_user_parent" do %>
  <div class = "single_user">
    <div class = "user_icon_image_parent">
      <% if user.icon_image.attached? %>
        <%= image_tag user.icon_image , class: "user_icon_image" %>
      <% else %>
        <%= image_tag "defaults/user_icon_image.png" , class: "user_icon_image" %>
      <% end %>
    </div>
    <p><%= user.nickname %></p>
  </div>
<% end %>