
<%= render partial: "shared/header/root_header" , locals: {title: "リクエストボックス"} %>

<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "section_title"><%= @user.nickname %>のリクエストボックス</p>
    <% @user.all_user_requests.each do |requests| %>
      <p><%= requests.text %></p>
    <% end %>
  </div>
</div>

