.links{
  width: 90%;
  margin: 0 auto;
}

.stage_title{
  padding:30px 20px 0px;
  font-size:30px;
}

.stage_select_border{
  margin: 30px auto;
}

.common_simple_button{
  margin-top:10px;
}

@media (max-width:800px){
  .section_title{
    font-size:30px;
  }
  
  .current{
    display:block;
  }

  .stage_title{
    font-size:25px;
    padding-top:15px;
  }

  .stage_select_border{
    border-bottom-style: dotted;
    width:100%;
  }

  .breadcrumbs{
    font-size:18px;
  }
}

@media(max-width:400px){
  .stage_title{
    font-size: 18px;
  }
}