._stickman_war_top_link_links{
  width: 90%;
  display:flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

._stickman_war_top_link_a{
  width:100%;
  display:flex;
  text-decoration:none;
  color:white;
}

._stickman_war_top_link_image{
  width:20%;
}

._stickman_war_top_link_explain{
  width:70%;
  display: flex;
  margin: auto;
  font-size:14px;
}

._stickman_war_top_link_explain_text{
  padding:0 30px;
}

._stickman_war_top_link_link_text{
  margin-top: 10px;
}