<%= stylesheet_link_tag "requests/request_background" , :media => "all" %>
<%= stylesheet_link_tag "requests/create" , :media => "all" %>

<div class = "request_main_content">
    <div class = "request_center_object">

      <p class = "text">送信が完了しました。</p>
      <%= link_to "トップページへ" , root_path , class: "quit_button" %>
  </div>
</div>
