._main_bar_center{
  border-bottom: none;
  height: calc(100vh - 10vh );
}

._main_bar_bottom{
  display:none;
}

a{
  color: white;
  text-decoration: none;
}

.single_user{
  border-bottom:1px dotted white;
  display: flex;
  height:50px;
  justify-content: space-between;
  
}

.user_text{
  margin: auto 0px;
}

.user_information{
  display:flex;
}

.user_name{
  width: 40%;
  border-radius: 5px;
}

.user_edit_button{
  text-align: center;
  width: 80px;
  padding: 5px 0px;
  background-color: red;
  border-radius: 10px;
  position: relative;
  top:0px;
  margin: auto 3px;
  box-shadow: 0px 3px 0px 0px rgb(128, 0, 0);
}

.up , .down , .destroy{
  background-color:rgba(255, 255, 255, 0);
  box-shadow: none;
}

.up:hover{
  background-color: rgb(255, 171, 44);
  box-shadow: 0px 3px 0px 0px rgb(223, 119, 0);
  transition: 0.2s;
}

.down:hover{
  background-color: rgb(129, 61, 255);
  box-shadow: 0px 3px 0px 0px rgb(81, 0, 128);
  transition: 0.2s;
}

.destroy:hover{
  background-color: rgb(194, 43, 43);
  box-shadow: 0px 3px 0px 0px rgb(128, 0, 0);
  transition: 0.2s;
}

.user_edit_button:active{
  box-shadow: none;
  top: 3px;
  transition: 0.1s;
}

.new_user_invite{
  // background-color: white;
  margin:30px auto;
  width: 80%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px dotted rgb(255, 255, 255);
  border-radius: 10px;
  padding:10px;
}

.invite_title{
  color: rgb(255, 215, 142);
  font-weight: bold;
  font-size: 30px;
}

.invite_small_title{
  font-size: 20px;
}

.single_select_box{
  margin-top:30px;
  text-align: center;
}

.add_member_button{
  background-color: rgb(27, 138, 45);
  box-shadow: 0px 3px 0px 0px rgb(1, 34, 0);
  position:relative;
  top:0px;
  padding: 5px 20px;
  border:none;
  border-radius: 5px;
  color:white;
  margin-top: 20px;
}

.add_member_button:active{
  top: 3px;
  box-shadow: none;
  transition: 0.1s;
}