// widthが1000以上の時の表示
  .more_than_1000px{
    display:inherit;
  }

  .less_than_1000px{
    display:none;
  }

  .more_than_1000px_user_link{
    display:flex;
  }
// widthが1000以上の時の表示終了

@media(max-width: 1000px){
  ._side_bar{
    width: 100%;
  }
  ._main_bar{
    display: none;
  }

  .less_than_1000px{
    display:inherit;
  }

  .more_than_1000px{
    display:none;
  }

  ._side_bar_head{
    display:flex;
    justify-content: space-between;
    padding: 0px 10px;
  }

  ._side_bar_group_title{
    margin:0px;
  }

  ._side_bar_bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 400px){
  .more_than_400px{
    display:none;
  }

  .less_than_400px{
    display:flex;
  }

  ._side_bar_bottom {
    flex-direction: column;
  }

  ._side_bar_head {
    justify-content: center;
}
}