@media (min-width: 801px){
  .more_than_800px{
    display:inherit;
  }

  .less_than_800px{
    display:none;
  }

  .more_than_800px_user_link{
    display:flex;
  }
}

@media(max-width: 800px){
  ._side_bar{
    width: 100%;
  }
  ._main_bar{
    display: none;
  }

  .less_than_800px{
    display:inherit;
  }

  .more_than_800px{
    display:none;
  }

  ._side_bar_head{
    display:flex;
    justify-content: space-between;
    padding: 0px 10px;
  }

  ._side_bar_group_title{
    margin:0px;
  }

  ._side_bar_bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}