._main_bar{
  height: 100vh;
  width: calc(100vw - 250px);
  background-color: red;
}

._main_bar_top{
  background-color: rgb(1, 16, 82);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-bottom: 1px dotted rgba(255,255,255,0.5);
}

._main_bar_button{
  display: inline-block;
  padding: 5px 15px;
  background-color: rgb(104, 0, 0);
  border-radius: 3px;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(121, 121, 121);
}

._main_bar_button:active{
  background-color: rgb(255, 184, 184);
}


._main_top_icon_title{
  display: flex;
  align-items: center;
}

._main_group_icon{
  width: 50px;
  border-radius: 5px;
}

._main_bar_group_name{
  margin: 0px;
  margin-left: 10px;
  color: white;
  font-size: 20px;
}

._main_bar_group_control_buttons{
  width: 20vw;
  min-width: 200px;
  display: flex; 
  justify-content: space-around;
}

._main_bar_edit_button{
  background-color:rgb(0, 66, 0);
}

._main_bar_edit_button:active{
  background-color:rgb(59, 143, 59);
}

._main_bar_center{
  background-color: rgb(52, 73, 168);
  padding: 15px;
  color: white;
  border-bottom: 1px dotted rgba(255,255,255,0.5);
  overflow: scroll;
}

// メッセージ用のCSSは部分テンプレート用のファイルとして分離


._main_bar_bottom{
  background-color: rgb(226, 231, 255);
}

._main_bar_form{
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding:1vh 10px;
}

._main_bar_form_text_area{
  height: 90%;
  width : 100%;
  padding: 5px 15px;
  overflow: scroll;
}

._main_bar_form_image_button{
  text-align: center;
  width: 80px;
  margin: 0 20px;
  background-color:rgb(62, 62, 255);
}

._main_bar_form_image_button:active{
  background-color:rgb(116, 116, 235);
}

._main_bar_form_submit{
  background-color:rgb(255, 177, 60);
}

._main_bar_form_submit:active{
  background-color:rgb(255, 213, 151);
}

.image_post_confirm_background{
  float:left;
  position:absolute;
  top:0px;
  left:0px;
  width: 100vw;
  height:100vh;
  background-color:rgba(0, 0, 0, 0.534);
  color:black;
  display:flex;
  justify-content: center;
  align-items: center;
}

.image_post_confirm_center{
  width: 80%;
  max-width: 600px;
  background-color:white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 5px rgba(255, 255, 255, 0.486);
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.confirm_text{
  text-align: center;
  color:rgb(255, 102, 0);
  font-size: 25px;;
  font-weight: bold;
}

.confirm_buttons{
  
}

.confirm_button{
  border:none;
  position:relative;
  top:0px;
}

.confirm_submit_button{
  background-color: orange;
  box-shadow: 0px 3px 0 0 rgb(104, 67, 0);
}

.confirm_delete_button{
  background-color: rgb(26, 41, 179);
  box-shadow: 0px 3px 0 0 rgb(12, 0, 54);
}

.confirm_button:active{
  top:3px;
  box-shadow: none;
  transition:0.1s;
}
















