._messages_single_message{
  margin-bottom: 15px;
  max-height:500px;
  overflow: scroll;
}

._messages_message_information{
  display: flex;
  align-items: center;
}

._message_user_icons{
  width:40px;
  margin-right:5px;
  border-radius: 5px;
}

._messages_user_information{ 
  margin: auto 0px;
  margin-right: 20px;
  align-items: center;
  display: flex;
  color:white;
  text-decoration: none;
  transition: 0.3s;
}

._messages_user_information:hover{
  background-color:rgba(255, 255, 0, 0.301);
  transition: 0.1s ;
  border-radius: 5px;
}

._messages_created_at{
  color:rgb(163, 163, 163);
  margin: 0px;
  margin-left:5px;
}

._messages_message_delete{
  color: rgba(255, 255, 255, 0.363);
  text-decoration: none;
  margin-left: 10px;
  padding: 3px 10px;
  border-radius: 5px;
}

._messages_message_delete:hover{
  background-color: rgb(82, 0, 0);
  transition: 0.3s;
}

._messages_message_delete:active{
  background-color: rgb(180, 0, 0);
  transition: 0.1s;
}

._messages_only_border{
  margin: 0 0 15px;
  border-bottom:1px dotted rgba(255, 255, 255, 0.459);

}

._main_bar_form_text_area{
  max-height:500px;
}

._message_images_box{
  position:relative;
  display:inline-block;
}

._message_text{
  padding-top:5px;
}

._message_images{
  height: 300px;
  display:block;
  border-radius: 5px;
}

.image_black{
  transition:0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.image_black:hover{
  background-color: rgba(255, 255, 255, 0.274);
  transition:0.2s;
}

.image_show_background{
  z-index: 1;
  position:absolute;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  overflow-y: auto;
  background-color:rgba(0, 0, 0, 0.507);
  display: flex;
}

.hidden{
  display:none;
}

.image_show_center_object{
  // background-color: rgb(255, 166, 0);
  width: 95%;
  margin:auto;
  display:flex;
  flex-direction: column;
  padding-top:10px;
}

.image_show_back_button{
  padding-left: 0px;
  width:50px;
  height:50px;
  background-color:rgba(255, 255, 255, 0.418);
  padding:2px;
  border-radius: 5px;
  cursor:pointer;
  transition:0.3s;
}

.image_show_back_button:hover{
  background-color:white;
  transition:0.1s;
}

.image_show_image{
  height: 100%;
  height: 90vh;
  margin: auto;
}

.show_less_600px{
  display:none;
}

@media (max-width: 1000px){
  ._message_images {
    height: 150px;
  }
}

@media(max-width: 600px){
  .show_less_600px{
    display:flex;
    flex-direction: column;
  }

  .show_more_600px{
    display:none;
  }

  ._messages_user_information{
    margin-right:3px;
  }

  ._main_group_icon{
    min-width:50px;
  }

  ._message_images{
    height:auto;
    width:80%;
  }
}

@media(max-width: 400px){
  .show_less_600px_nickname_created_at{
    font-size:4vw;
  }
}