.show_more_than_500px{
  display:inline-block;
}

.show_less_than_500px{
  display:none;
}

@media (max-width: 1000px){
  ._side_bar{
    display:none;
  }
  
  ._main_bar{
    width: 100vw;
  }
  
  .message_button_parent{
    flex-direction: column;
  }

  ._main_bar_message_button{
    width: 70px;
    margin:2px auto 2px 3px;
  }
}

@media(max-width: 500px){
  ._main_bar_top{
    padding:0px 5px;
  }

  .show_more_than_500px{
    display:none;
  }

  .show_less_than_500px{
    display:inherit;
  }
  ._main_bar_group_control_buttons{
    min-width: 0px;
  }
}