.show_more_than_500px{
  display:inline-block;
}

.show_less_than_500px{
  display:none;
}

#controlled_button{
  width:100%;
  height:auto;
  position:absolute;
  top:0px;
  left:0px;
  background-color: rgba(0, 0, 0, 0.555);;
}

@media (max-width: 1000px){
  ._side_bar{
    display:none;
  }
  
  ._main_bar{
    width: 100vw;
  }
  
  .message_button_parent{
    flex-direction: column;
  }

  ._main_bar_message_button{
    width: 70px;
    margin:2px auto 2px 3px;
  }
}

@media(max-width: 500px){
  ._main_bar_top{
    padding:0px 5px;
  }

  .show_more_than_500px{
    display:none;
  }

  .show_less_than_500px{
    display:inherit;
  }

  ._main_bar_group_control_buttons{
    min-width: 0px;
    height:100%;
    transition:0.5s;
  }

  // 下向きの三角形（？）にマウスカーソルが乗った時
  ._main_bar_group_control_buttons:hover{
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 5px;
    transition:0.1s;;
  }

  ._500px_link_buttons{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    text-decoration: none;
    transition: 1.5s;
  }

  ._500px_link_buttons:hover{
    background-color: rgba(0, 0, 0, 0.582);
    border:1px dotted rgba(255, 255, 255, 0.397);
    border-right:none;
    border-left:none;
    transition:10ms;
  }
}