._side_bar{
  height: 100vh;
  width: 300px;
  background-color:blue;
}

._side_bar_group_title{
  font-size: 20px;
  color: white;
}

._side_bar_head{
  height: 10vh;
  background-color: rgb(0, 0, 129);
  display: flex ;
  justify-content: center;
  align-items: center;
}

._side_bar_center{
  padding: 8px;
  // overflow: scroll;
  height: 75vh;
  background-color: rgb(159, 159, 255)
}

._side_bar_group_name{
  color: black;
  
  display: block;
  padding: 8px 10px;
  text-decoration: none;
}

._side_bar_group_name:hover{
  background-color: red;
}

._side_bar_bottom{
  height: 15vh;
  background-color: rgb(35, 35, 136)
}

._side_bar_back{
  text-decoration: none;
  color: white;
}