.comment_box{
  width: 80%;
  margin: auto;
}

.comment_text_box{
  width: 90%;
  height:150px;
  margin: auto;
  padding:5px 10px;
}

.comment_submit_btn{
  display: block;
  margin: auto;
  margin-top: 10px;
  padding:5px 30px;
  background-color: rgb(160, 225, 255);
  background: linear-gradient(to bottom ,  rgb(203, 243, 255), rgb(0, 195, 255));
  border:none;
  border: 1px solid black;
  border-radius: 3px;
  
  color:rgb(0, 0, 0);
}

.comment_submit_btn:active{
  background: linear-gradient(to top ,  rgb(56, 209, 255), #61daff);
}

.all_comment_box{
  margin-bottom: 30px;
}

.br_550px{
  display:none;
}

.text_box{
  line-height: 40px;
}

.open_strategy_button , .open_boss_button {
  width: 280px;
  background-color: #cc0000;
  box-shadow: 0 5px 0 0 #640000;
  top: 0px;
  position: relative;
  transition: 0.1s;
  text-align: center;
  border-radius: 10px;
  margin:auto;
  display:flex;
}

.open_strategy_button:hover , .open_boss_button:hover{
  box-shadow: 0 4px 0 0 #640000;
  top:1px;
  transition:0.1s;
}

.open_strategy_button:active , .open_boss_button:active{
  box-shadow:none;
  top:5px;
  transition:0.1s;
}

@media(max-width: 800px){
  .section_title{
    font-size:30px;
  }
}

@media(max-width:400px){
  .section_title{
    font-size:20px;
  }

  .explain_title{
    font-size:18px;
  }

  .text_box{
    font-size:15px;
  }

  .br_550px{
    display:inherit;
  }

  .all_comment_box{
    margin:0 5px 10px;
  }

  .explain_detail{
    font-size:14px;
  }
}

