<p class = "small_section_title small_margin">主な利用方法</p>
<div class = "individual_explain">
  <span class = "strong yellow_under_line">マナが余ったらとにかく召喚しよう！</span>ステータスは決して高くはないが、再召喚までの時間が他のキャラクターに比べ短い。
  大量に集まれば凄まじい攻撃力をとなり、分厚い壁となる。範囲内にいるキャラクターを全て攻撃するキャラクターや、複数体を攻撃するキャラクターが来ない限り、
  恐ろしい早さで前線が突破されるということはそれほどない。また、突破されたとしても召喚を続ければ、敵の攻撃間隔分、前線の崩壊を遅らせることができる。
</div>

<p class = "small_section_title">弱点</p>
<div class = "individual_explain">
  <span class = "strong yellow_under_line">複数体を攻撃する敵には弱い。</span>
  一人一人の耐久力が低いがまとまれば強力になるという長所を盛大に折られることになってしまう。射程も決して長くはないため、敵の遠距離部隊の集中砲火を受けやすい。
  大量に貯めていたはずのこのキャラクターが、いつの間にか一人もいなくなっているという事態が発生することがある。<br>
  <span class = "strong yellow_under_line paragraph">機械に負荷がかかる。</span>
  これに関しては私が悪い。許して。「当たり判定と当たり判定が重なると、重い処理が発生する」というのがあり、大量に呼びすぎるとその当たり判定があまりにも増えてしまい、
  処理が重くなり、ひどい時にはキャラクターの動作が止まることがある。仮にボスキャラクターの動作が止まってしまった場合ゲームがかなり楽しくなくなってしまうので、
  そのような事態が発生した時には生産をいい感じに抑えて欲しい。ほんとゆるして。


</div>

<div class = "section_title">一言コメント</div>