<p class = "section_title">アニメーションのテスト</p>

<script>
  jQuery(function($){
    $selectButton = $(".play1_select_buttons");
    $selectButton.on("click" , function(){
      $("#selected p:last").removeAttr("style").text("選択する");
      $("#selected").removeAttr("id");

      // selectedのidはplay1_single_parentに掛けている
      $(this).parent().attr("id" , "selected");
      $(this).text("enterを押そう！").css("width" , "200px");
    })
  })
</script>

<div class = "play1_objects_parent">
  <div class = "play1_single_parent">
    <p class = "play1_titles">たいとる</p>
    <div class = "play1_single">

    </div>
    <p class = "play1_select_buttons">選択する</p>
  </div>

  <div class = "play1_single_parent">
    <p class = "play1_titles">たいとる</p>
    <div class = "play1_single">

    </div>
    <p class = "play1_select_buttons">選択する</p>
  </div>
</div>