<p class = "section_title">アニメーションのテスト</p>

<div class = "play1_objects_parent">
  <div class = "play1_single_parent">
    <p class = "play1_titles">たいとる</p>
    <div class = "play1_single">

    </div>
    <p class = "play1_select_buttons">選択する</p>
  </div>

  <div class = "play1_single_parent">
    <p class = "play1_titles">たいとる</p>
    <div class = "play1_single">

    </div>
  </div>
</div>