<%= render partial: "shared/header/root_header" , locals: {title: "スキルルーム"} %>
<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "small_section_title"></p>
  </div>
</div>