._reccomend_movie_image{
  width: 35%;
}

._reccomend_movie_a{
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: black;
  cursor: default;
}

._reccomend_movie_text{
  width: 65%;
  text-align: center;

}

._reccomend_movie_title {
  display: inline;
  font-size: 20px;
  border-bottom: 1px solid rgb(156, 156, 156);
  padding-bottom: 5px;
  margin: auto 5px
}

._reccomend_movie_small_explain{
  color: black;
  padding: 10px 15px;
}

._reccomend_movie_link{
  background-color: red;
}

._reccomend_movie_link:active{
  background-color: rgba(255, 0, 0, 0.411);
}

@media(max-width: 800px){
  ._reccomend_movie_a{
    flex-direction: column;
    margin-bottom:30px;
  }

  ._reccomend_movie_image{
    width: 70%;
  }


  ._reccomend_movie_small_explain {
    padding: 10px 0px;
  }

  ._reccomend_movie_text {
    width: 70%;
  }
}