.movie_path{
  padding-top: 80px;
}

.current{
  display:block;
  font-size: 30px;
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 10px;
  // margin-left: 10px;
  padding-left: 5px;
}

.under_content{
  width: 80%;
  margin: auto;
}

.movie{
  width: 100%;
  // main_contentの横幅を変えたなら、↓のvwも変更する、変更しないとはみ出していたり小さすぎたりする現象が発生する
  height: calc(80vw / 16 * 9);
  max-height: calc(1000px / 16 * 9);
}

.explain{
  padding : 10px 0 5px;
  border-bottom: 1px solid rgb(202, 202, 202);
  margin-bottom: 30px;
}

.small_section_title{
  width: 100%;
}

.comment_text_area{
  width: 95%;
  margin: auto;
  display: block;
  min-height: 100px;
}

.comment_submit_btn{
  margin: auto;
  display: block;
  margin-top: 5px;
  border:none;
  width: 80px;
  background-color: #2a2ac3;
  box-shadow: 0 3px 0 0 #000052;
  position: relative;
  top: 0px;
  transition:0.3s;
}

.comment_submit_btn:active{
  box-shadow: none;
  top:3px;
  transition:0.2s;
}

.single_comment_set{
  border: 1px solid rgb(199, 199, 199);
  margin-top: 10px;
  padding: 5px;
}

.comment_text{
  max-height: 300px;
  overflow: scroll;
}

.comment_user_information{
  display:inline-flex;
  color:black;
  text-decoration: none;
  transition:0.3s;
  padding-left:5px;
}

.comment_user_information:hover{
  background-color:rgba(255, 255, 0, 0.411);
  border-radius: 10px;
  transition:0.1s;
}

.comment_user_icon{
  width: 100%;
  margin: auto;
  border-radius: 5px;
  display:inline-block;
}

.comment_user_name{
  margin-left:3px;
  font-size: 18px;
  margin: auto 10px auto 5px;
}


@media(max-width: 800px){
  .movie{
    width: 100%;
    // main_contentの横幅を変えたなら、↓のvwも変更する、変更しないとはみ出していたり小さすぎたりする現象が発生する
    height: calc(95vw / 16 * 9);
    max-height: calc(1000px / 16 * 9);
  }
}

@media(max-width: 650px){
  .comment_user_name{
    font-size:15px;
  }
  .comment_text{
    font-size:15px;
  }

  .breadcrumbs{
    font-size:15px;
  }

  .current{
    font-size:20px;
  }
}