/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 */

 * {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
  margin:auto;
}

header{
  width: 100vw;
  height:50px;
  position: fixed;
  display: flex;
  background-color: red;
  top: 0px;
  left: 0px;
}

.main_content {
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 1000px;
  padding-bottom: 20px;
}

.only_border{
  width:90%;
  border-bottom: 1px solid rgb(155, 155, 155);
  margin:3px auto 5px;
}

.common_simple_button{
  display:inline-block;
  padding:5px 8px;
  border-radius: 3px;
  background-color: rgb(169, 178, 255);
  color:white;
  cursor: pointer;
}

.main_content_parent{
  width: 100vw;
  background-image: image_url("background/1.jpg")
}

.section_title{
  padding:80px 20px 0px;
  font-size:50px;
}

.explain_box{
  width: 85%;
  margin: 0 auto;
}

.small_section_title{
  font-size: 25px;
  width: 90%;
  margin:30px auto 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.hide_scroll_bar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide_scroll_bar::-webkit-scrollbar {
  display:none;
}