<p class = "small_section_title">どんなサイト？</p>
<div class = "explain_box">
  <div class = "individual_explain">
  　マッチョたちが盛大にネタに走ったようなサイト。このサイトを運営している人、人生楽しそう。羨ましい。<br>
  <%= image_tag "materials/mascle_plus/explain1.png" , class: "explain_image" %>
  <p class = "image_explain">マッチョという、一般人からしたら夢のような存在の人がメイドのコスプレをするという、夢と夢のドリームマッチ。</p>
  <%= image_tag "materials/mascle_plus/explain2.png" , class: "explain_image" %>
  <%= image_tag "materials/mascle_plus/explain3.png" , class: "explain_image" %>
  </div>
</div>

<p class = "small_section_title">欠点</p>
<div class = "explain_box">
  <div class = "individual_explain">
  <span class = "yellow_under_line">　正直なところ思いつかない。</span>異様なほどの広告が現れたり、検索機能が使いにくかったりするなどのこともない。強いてあげるとしたら、「ベンチプレスをするマッチョ」のようなドストレートなものがないというところ。本当にマニアックな人向けのサイトと言える。<br>
  </div>
</div>