<p class = "small_section_title">どんなサイト？</p>
<div class = "explain_box">
  <div class = "individual_explain">
  　いろんな風景の画像やイラストを無料で利用できるサイトになります！炎上している家や馬のイラスト、様々な素材が用意されています！<br>
  <%= image_tag "materials/public_domain_q/amazing_horse.png" , class: "explain_image" %>
  <%= image_tag "materials/public_domain_q/irasuto_horse.png" , class: "explain_image" %>
  <%= image_tag "materials/public_domain_q/fire_house.png" , class: "explain_image" %>
  </div>
</div>

<p class = "small_section_title">欠点</p>
<div class = "explain_box">
  <div class = "individual_explain">
  <span class = "yellow_under_line">広告の量が結構多い。</span>無料で使用できるという都合上仕方のないことではあるが、画像をダウンロードするページを開いたときに凄まじい量の広告が現れる。<br>
  <%= image_tag "materials/public_domain_q/domain_q_weekness.png" , class: "explain_image" %>
  </div>
</div>