<p class = "small_section_title">どんなサイト？</p>
<div class = "explain_box">
  <div class = "individual_explain">
  　いろんな背景や物の画像をダウンロードすることができるサイト。実写や、実写と思えるレベルの画像が非常に多い。<br>
  <%= image_tag "materials/public_domain_q/amazing_horse.png" , class: "explain_image" %>
  <p class = "image_explain">このような、普通の写真と見間違えそうになるようなレベルのイラストや、</p>
  <%= image_tag "materials/public_domain_q/irasuto_horse.png" , class: "explain_image" %>
  <p class = "image_explain">このようなかなり軽い感じの絵まである。</p>
  <%= image_tag "materials/public_domain_q/fire_house.png" , class: "explain_image" %>
  <p class = "image_explain">画像合成でピースをしている人を追加したらバカッターみたいになりそう。草。</p>
  </div>
</div>

<p class = "small_section_title">欠点</p>
<div class = "explain_box">
  <div class = "individual_explain">
  <span class = "yellow_under_line">　広告の量が結構多い。</span>無料で使用できるという都合上仕方のないことではあるが、画像をダウンロードするページを開いたときに凄まじい量の広告が現れる。<br>
  　まあ、ｴｯ･･･なサイトにつけられている広告のような、退けるのが難しい広告ではないだけ良心的と言えるだろう。
  <%= image_tag "materials/public_domain_q/domain_q_weekness.png" , class: "explain_image" %>
  <p class = "image_explain">凄まじい量に表示される広告。下の方に少しだけ見えるのが、ダウンロードすることができる画像である。</p>
  </div>
</div>