<p class = "small_section_title">どんなサイト？</p>
<div class = "explain_box">
  <div class = "individual_explain">
  　いろんな背景や物の画像をダウンロードすることができるサイト。実写や、実写と思えるレベルの画像が非常に多い。<br>
  <%= image_tag "materials/texture_ninja/explain1.png" , class: "explain_image" %>
  <p class = "image_explain">ボイスロイド劇場で一瞬写す部分で使えそうな落ち葉の画像や、</p>
  <%= image_tag "materials/texture_ninja/explain2.png" , class: "explain_image" %>
  <p class = "image_explain">完全に実写だと思われるバイクの画像、</p>
  <%= image_tag "materials/texture_ninja/explain3.png" , class: "explain_image" %>
  <p class = "image_explain">精神崩壊シーンで使えそうな感じのひび割れた感じの壁の画像がある。</p>
  <%= image_tag "materials/texture_ninja/explain4.png" , class: "explain_image" %>
  <p class = "image_explain">他にも多種多様な画像がある。左の部分からどのような画像かを選択し、右の大量に表示されている部分から探すという形になる。</p>
  </div>
</div>

<p class = "small_section_title">欠点</p>
<div class = "explain_box">
  <div class = "individual_explain">
  <span class = "yellow_under_line">　画像サイズが非常に大きい。</span>皆さんご存知のいらすとやは大体縦横が512pxくらいのサイズが多いものの、このサイトでは当然の権利のように5000pxを超えてくる。画像加工技術があればこれに対抗することができるが、初心者が使うようなサイトではない。<br>
  <span class = "yellow_under_line">　デフォルトの言語が英語になっている。</span>ブラウザに自動翻訳機能がついていれば、上の方で出てきた画像のようにある程度を日本語化することはできるが、まだ違和感のある部分はある。英語がある程度できるなら、英語のまま表記にした方がいいかも。<br>
  </div>
</div>