<%= render partial: "shared/header/root_header" , locals: {title: "素材一覧"} %>
<%= stylesheet_link_tag "material/common" , media: "all" %>
<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "section_title">素材一覧</p>
    <p class = "small_section_title">自作素材</p>
    <p class = "small_section_title">外部サイトの優秀奴</p>
  </div>
</div>